<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |error_msg| %>
    <p class="error"><%= error_msg %></p>
  <% end %>
<% end %>

<%= form_for @article do |article| %>
  <p>
    <%= article.label :title %>
    <%= article.text_field :title %>
  </p>
  <p>
    <%= collection_select(:article, :category_ids, Category.all, :id, :name,{:include_blank => 'None'},
    {:multiple => true, :name=>'article[category_ids][]',:selected => 0}) %>
  </p>
  <%= article.fields_for :updates, @update do |update| %>
    <p>
      <%= update.label :user_id %>
      <%= update.number_field :user_id %>
    </p>
    <p>
      <%= update.label :content %>
      <%= update.text_area :content%>
    </p>
  <% end %>
  <%= article.submit %>
<% end %>