<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |error_msg| %>
    <p class="error"><%= error_msg %></p>
  <% end %>
<% end %>

<%= form_for @article do |article| %>

    <%= article.label :title %>
    <%= article.text_field :title %>

  <% if current_user.admin %>
      <%= article.label :locked %>
      <%= article.check_box :locked %>
  <% end %>
  <p>
    <label>Categories:</label><br />
    <%= collection_select(:article, :category_ids, Category.order('name ASC'), :id, :name,{:include_blank => 'None'},
    {:multiple => true, :name=>'article[category_ids][]',:selected => 0}) %>
  </p>

  <%= article.fields_for :updates, @update do |update| %>
    <%= update.hidden_field :user_id, :value => "#{session[:user_id]}"  %>
      <%= update.label :content %>
      <small>Content can be written in Markdown syntax. <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Click here for a style guide.</a></small>
      <%= update.text_area :content, :rows => "10"%>
  <% end %>
  <%= article.submit %>
<% end %>