<% if @error %>
  <h2 class="error"><%= @error %></h2>
<% end %>

<h1><%= @article.title %></h1>
<div id="articles">
  <h5>Categories: 
    <% @article.categories.each do |cat| %>
      <%= cat.name %>
    <% end %>
  </h5>
<p><%= markdown(@content) %></p>

<h5>Contributing Users</h5>
<p><%= @users.join(", ") %></p>
<% if current_user %>
  <p>
    <% if !@article.locked || current_user.admin %>
      <%= link_to("Edit", edit_article_path(@article.id)) %>
    <% else %>
      Article is LOCKED
    <% end %>
    <% if current_user.admin %>
    | <%= link_to("Delete", article_path(@article.id), :method => :delete) %>
      <% end %>
    </p>
  <% end %>
</div>
