<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error_msg| %>
      <p><%= error_msg %></p>
    <% end %>
  <% end %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  
  <p>
    <%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname %>
  </p>
  
  <p>
    <%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname %>
  </p>
  
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  <%= f.submit %>
<% end %>