<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error_msg| %>
      <p><%= error_msg %></p>
    <% end %>
  <% end %>

  <%= f.label :email %>
  <%= f.text_field :email %>


  <%= f.label :username %>
  <%= f.text_field :username %>


  <%= f.label :fname, "First Name" %>
  <%= f.text_field :fname %>

  <%= f.label :lname, "Last Name" %>
  <%= f.text_field :lname %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  
  <%= f.submit %>
<% end %>