<!DOCTYPE html>
<html>
<head>
  <title>Wiki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

  <div id="header">
    <img src="/assets/layout/OCS_star_75x75.png" width="75px" height="75px" alt="Omaha Code School Star" />
    <h1>Omaha <span style="font-family: Signika-Semibold, sans-serif;">Code</span> School Wiki</h1>
  </div>
    
    <div id="content" class="clearfix">
      <div id="top_nav"></div>
      
      <div id="left_column">
        <h1>Categories</h1>
        <ul>
          <% Category.all.each do |c| %>
            <li><a href="#"><%= c.name %></a></li>
          <% end %>
        </ul>
      </div>
      
      <div id="right_column">
        <!-- <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
        <p><a href="#">Lorem ipsum dolor sit amet</a>, consectetur adipiscing elit. Curabitur scelerisque justo quis urna rhoncus tincidunt. In auctor neque mi, a rhoncus diam bibendum at. Nullam sit amet ipsum in arcu dictum posuere ut nec ante. Nulla quis elit ac enim vehicula rhoncus. Cras rutrum augue porta, commodo enim in, vestibulum libero. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p> -->
        <%= yield %>
      </div>
    </div>
    
  <div id="footer">
    <p>Created by Cara Heacock, Matt Hova, and Andy von Dohren as a project for Omaha Code School.<br />
The Omaha Code School Wiki is not officially affiliated with Omaha Code School other than the developers being students there.</p>
  </div>

</div>

</body>
</html>
