<!DOCTYPE html>
<html>
<head>
  <title>Wiki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

  <div id="header">
    <a href="/"><img src="/assets/layout/OCS_star_75x75.png" width="75px" height="75px" alt="Omaha Code School Star" />
    <h1>Omaha <span style="font-family: Signika-Semibold, sans-serif;">Code</span> School Wiki</h1></a>
  </div>
    
  <div id="content" class="clearfix">
      <div id="top_nav">
        <div id="user_status">
          <% if current_user %>
            <p>Welcome, <%= current_user.email %>! |
            <%= link_to("Log Out", login_path(current_user.id), :method => :delete) %></p>
          <% else %>
            <p>
              <%= link_to("Sign Up", :new_user) %> | 
              <%= link_to("Log In", :new_login) %>
            </p>
          <% end %>
        </div>
        <div id="search_nav">
          <form name="search" action="/articles" method="get">
            <%= text_field_tag 'search', nil, placeholder: 'Enter search term...' %>
            <input type="submit" value="GO!">
          </form>
        </div>
      </div>
      
      <div id="left_column">
        <h1>Categories</h1>
        <ul>
          <% Category.all.each do |c| %>
            <li><a href="#"><%= c.name %></a></li>
          <% end %>
        </ul>
      </div>
      
      <div id="right_column">
        <%= yield %>
      </div>
    </div>
  
  <div id="footer_above"></div>
  
  <div id="footer">
    <p>Created by Cara Heacock, Matt Hova, and Andy von Dohren as a project for Omaha Code School.<br />
The Omaha Code School Wiki is not officially affiliated with Omaha Code School other than the developers being students there.</p>
  </div>

</div>

</body>
</html>
